# Fichiers de build
/build
/app/build
/captures

# Fichiers locaux
.idea/
.gradle/
local.properties
*.iml

# Fichiers générés par Android Studio
.DS_Store
/captures
*.apk
*.aab
*.ap_
*.aab.dSYM/
*.jar
*.keystore
*.jks
!gradle/wrapper/gradle-wrapper.jar
!app/release-keystore.jks
!release-apk/
!release-apk/*.apk

# Fichiers de log
*.log
