# Fichiers de build
/build
/app/build
/captures

# Fichiers locaux
.idea/
.gradle/
local.properties
*.iml

# Fichiers générés par Android Studio
.DS_Store
/captures
*.apk
*.aab
*.ap_
*.aab.dSYM/
*.jar
*.keystore
*.jks

# Exceptions nécessaires au build/release
!gradle/wrapper/gradle-wrapper.jar
!artifacts/
!artifacts/*.apk

# Fichiers de log
*.log
